.headerInfo {
  position: relative;
  z-index: 20; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #01793F;
  padding: 0.8rem 1rem; /* Aumentei um pouco o padding */
  font-size: 1rem; /* Aumentei a fonte */
  font-weight: bold; /* Adicionei negrito */
}

.whatsapp { 
  margin-left: 1.3rem;
}

.wpp {
  color: white;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold; /* Adicionei negrito */
}

.wpp:hover {
  color: #e6e6e6; /* Mudei para um hover mais suave */
}

.socialMedia {
  color: white;
  display: flex;
  align-items: center;
  gap: 0.2rem; 
}

.contatos {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 0.3rem; 
}

.socialMedia a {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s ease; 
}

.socialMedia a:hover {
  color: #e6e6e6; 
}

.socialText {
  margin-right: 0.5rem; 
  font-weight: bold; 
}