/* css da home*/

.home {
  width: 100%;
  min-height:100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;

  overflow: hidden;
  padding: 20px;

}
.home h1{
  font-size: 2.2rem;
  color: #01793F;
  font-weight: bold;
  margin-bottom: 1.5rem;


}
.home p{
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
 
}
.btn{
  width: 250px;
  height: 50px;
  font-size: 1.125rem;
  font-weight: bold;
  border: 0;
  border-radius: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;



}

.btn_color{
  background-color:#01793F;
  color: white;
}

.btn_color:hover{
  background-color: #BE3638;
}
.img-home{
border-radius: 1px;
max-width: 100%;
height: auto;
}

/* css do video carousel */
.videoCarousel {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  
}

.carouselContainer {
  width: 100%;
  height: calc(100vh - 120px);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.videoWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  aspect-ratio: 16 /9;
  overflow: hidden;
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  
}

/* Resposividade da home */

@media (max-width: 768px) {
  .home {
    flex-direction: column;
    text-align: center;
    padding: 1rem;
  }

  .home h1 {
    font-size: 1.8rem;
  }

  .home p {
    font-size: 1rem;
  }

  .btn {
    width: 100%;
  }

  .img-home {
    width: 100%;
    height: auto;
    margin-top: 1.5rem;
  }
  .videoCarousel{
   padding-top: 0;
  }
  .videoWrapper{
    aspect-ratio: 16 / 9;
    height: auto;
    max-height: none;
  }
  .video{
    height: auto;
  }
}

