.sobre{
    width: 100%;
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bio{
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-bottom: 2rem;
}
.hmaa{

}
.textos{

}
.video{
    margin-top: 2rem;

}
.map{
    margin-top: 1rem;
    margin-bottom: 1rem;
}