html, body, #root {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
}

#root > *:last-child {
  margin-top: auto;
}

.footer {
  background-color:#188E5A;
  color: white;
  padding: 60px 40px 20px 40px;
}

.topContent {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 40px;
  margin-bottom: 30px;
}

.information, .navigation, .icons {
  flex: 1;
  min-width: 280px;
}

.information {
  min-width: 34%;
}

.information h3, .navigation h3, .icons h3 {
  margin-bottom: 20px;
}

.information p {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 15px 0;
  color: #ccc;
  word-wrap: break-word;
}

.navigation ul {
  list-style: none;
  padding: 0;
}

.navigation ul li {
  margin: 15px 0;
}

.navigation ul li a {
  text-decoration: none;
  color: #ccc;
  transition: color 0.3s ease-in-out;
}

.navigation ul li a:hover {
  color: white;
}

.icons {
  text-align: center;
}

.icons ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 0;
}

.icons a {
  color: white;
  transition: color 0.3s ease-in-out;
  font-size: 28px;
}

.icons a:hover {
  color: gray;
}

.footerBottom {
  width: 100%;
  text-align: center;
  padding: 15px 0;
  border-top: 1px solid gray;
  color: #ccc;
  font-size: 0.9rem;
}

@media (max-width: 768px) {
  .footer {
    padding: 40px 20px 20px 20px;
  }

  .topContent {
    flex-direction: column;
    align-items: center;
  }

  .information, .navigation, .icons {
    flex: none;
    width: 100%;
    margin-bottom: 20px;
  }

  .information p {
    font-size: 14px;
    word-wrap: normal; 
  }

  .icons ul {
    gap: 15px;
  }
}

@media (max-width: 480px) {
  .footer {
    padding: 30px 10px 20px 10px;
  }

  .information p {
    font-size: 12px;
  }
}
