.container {
  max-width: 900px;
  margin: 2rem auto;
  padding: 1rem;
  line-height: 1.6;
  text-align: justify
}

.title {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: black;
}

.date {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 1rem;
}

.content {
  margin-bottom: 2rem;
}

.block {
  margin-bottom: 1.5rem;
}

.image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin: 1rem 0;
}

.tags {
  margin-top: 1rem;
}

.tag {
  background: #e6f4ea;
  color: #188E5A;
  padding: 0.3rem 0.7rem;
  border-radius: 5px;
  margin-right: 0.5rem;
  font-size: 0.85rem;
}

.authors {
  margin-top: 1rem;
  font-style: italic;
  color: #444;
}

.backButton {
  display: inline-block;
  margin-top: 2rem;
  padding: 0.6rem 1.2rem;
  background: #188E5A;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: 0.3s;
}

.backButton:hover {
  background: #188E5A;
}

.notFound {
  text-align: center;
  padding: 3rem;
}

@media (max-width: 768px) {

  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;           
    justify-content: flex-start;
  }

  .tag {
    display: inline-block;
    margin-right: 0;      
    font-size: 0.8rem;
    padding: 0.35rem 0.6rem;
    white-space: nowrap;   
  }
}

