:root{
  font-family: Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing:antialiased; 

}
 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
/* VLibras ajustes */
[vw-access-button] .vw-text{
  font-size:16px !important;
  bottom:90px !important;
  right:20px !important;
}

/* aumentar botão */
[vw-access-button]{
  transform:scale(1.1);
}
